#CMake related files
#*.cmake
CMakeLists.txt.user
CMakeFiles/
Makefile
# Static libraries
*.a
# Apple garbage
*.DS_Store
Makefile/
# Binary files
first_example
# Any mesh files inside the example (they should be copied across)
# examples/
# coverage data
coverage.info
build/
