#CMake related files
*.cmake
CMakeFiles/
Makefile
# Static libraries
*.a
# Apple garbage
*.DS_Store
Makefile/
# Binary files
first_example
# Any mesh files inside the example (they should be copied across)
examples/*.msh
